body {
    background-image: url('kike-vega-F2qh3yjz6Jk-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% 1000px;
}
*{box-sizing: border-box;}

.logo {
    /* border: 3px solid red; */
    border:2px solid grey;
    display: inline;
    padding:3px 3px 0px 3px;
    position: absolute;
    left: 67px;
    top:10px;
    border-radius: 10px;
}
.logo:hover{border:2px solid white;}
.logo img{ height: 76px; width: 80px;}

.navbar {
    /* border: 3px solid yellow; */
    width: 800px;
    margin: 30px auto;
    display: block;

}
.navbar li{display:inline-block;}
.navbar li a{text-decoration: none;padding:40px;font-weight: bold;color:white}
.navbar li a:hover{color:white;font-family: 'Roboto';}

.cart {
    /* border: 3px solid darkorange; */
    position: absolute;
    right: 73px;
    top:30px;
    display: inline-block;
}
#flag{width:65px;height:46px;border: 0.5px solid white;}
#flag:hover{border-radius: 10px;border:0.5px solid white;}
/* .flagname{position: absolute;top: 56px;left: 27px;color: white;font-size: 15px;
    font-family: sans-serif;text-align: center;} */
#userform{width:750px;margin: auto;border-bottom:3.5px solid goldenrod;
          border-top:3.5px solid gold;height:550px;padding-top:90px;
          border-left:3.5px solid gold;border-right:3.5px solid gold;
          margin-bottom:300px ;margin-top: 100px;}
#userform input{display: block; margin: auto; padding: 10px; margin-top: 20px; width: 604px;
    text-align:center;font-weight: 15px;}
#Submit{background-color: #f3d078;font-weight: bold;}
#Label{font-family: Times;width:400px;position:absolute;top:185px;left:473px;font-size: 25px;}

#PhoneNumber::-webkit-outer-spin-button,
#PhoneNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
