.container{
    border-radius: 10px;
    padding:2% 3%;
    height:auto;
    color:rgb(54, 53, 53);
    background-color:  rgb(203, 226, 255);
    text-align: center;
}

#contactForm{
    height:60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;;
}

form input{
    padding: 0;
    margin:0;
    outline: none;
    width:80%;
    height: 10%;
    font-size:100%;
    font-weight: 700;
    text-align: center;
    border-radius: 15px;
    /* background-color:transparent */
}

textarea{
    resize: none;
    outline: none;
    width: 80%;
    height: 30%;
    padding:10px;
    border-radius: 15px;
    border:2px solid black;
}



input[type='checkbox']{
    width:auto;
    height: auto;
    cursor:pointer
}

#checkText a{
    text-decoration-line: none;
}

#contactBut{
    transition:all;
    transition-duration: .5s;
    color:white;
    width:80%;
    height: 15%;
    text-align:center;
    border:1px solid black;
    border-radius:15px;
    background-color:black;
    font-weight: bold;
    cursor: pointer;
}

#contactBut:hover{
    transition-property: all;
    transition-duration:0.5s;
    background-color: transparent;
    color:black;
    ;
}