{% extends 'base.html' %}

{% block about %}<b class='green'>{% endblock about %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/songs_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}

{% block body %}
    <div class="songs_list_container">
        <h1 class="s_font1 mid_maker">About Us</h1>
        <p class="about s_font2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque veniam fuga aliquam quas repellendus quos alias ut aspernatur? Mollitia neque doloribus praesentium? Ab nemo quas laboriosam. Qui cupiditate incidunt voluptatibus fuga accusamus adipisci accusantium porro dolorum fugiat quas! Harum sed corporis id voluptatum praesentium impedit quibusdam, corrupti doloremque soluta doloribus eius quia ipsam repellat est libero qui quae iste asperiores incidunt ipsum exercitationem dolorum! Accusamus ipsam, velit explicabo culpa eum deleniti mollitia aspernatur ea quos quae esse est facere itaque error ut, nesciunt neque quaerat vel a cum autem. Officiis, possimus! Maiores vero corporis asperiores consectetur consequatur voluptas eum tempora.
        </p>
        <p class="about s_font2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit eos natus fugiat quae tempora adipisci delectus accusamus dignissimos fuga sed, eveniet atque ut saepe hic animi officia non, tempore earum quam veritatis! Suscipit ex aliquid ipsam numquam labore, voluptatem provident maxime? Sit tempore repellendus rem, sed similique laudantium pariatur officia!
        </p>
        <p class="about s_font2">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint maiores nihil provident placeat voluptates soluta excepturi explicabo repudiandae assumenda sit error in eaque, repellendus repellat eveniet magnam aperiam fugiat rerum nulla suscipit, unde, nesciunt optio incidunt odit. Quas eius eum unde omnis, accusamus sapiente, aliquam libero atque dolores reprehenderit fugit praesentium ipsa minima, alias sit perferendis pariatur quis quidem modi eligendi officiis? Dicta labore delectus, exercitationem molestiae eaque voluptatibus accusantium? Et praesentium harum cumque recusandae distinctio id, iure ipsam.
        </p>
    </div>
    <footer>
        <span>
            Copyright@2022-2023
        </span>
    </footer>
{% endblock body %}