
/* phone.css */

:root{--width:100vw;--height_box:100vh/2}
*{box-sizing: border-box;}

html,body{
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
    overflow-x:hidden
}

.navbar ul{top:10%;left:var(--width)/35px}
.logo{top:1%;left:54px}
#first{margin-top:110px}
.account{margin-right:17px}
/* .intro section{color:red} */
.intro{flex-direction: column;height:1000px;margin-top:32px;}
.intro section{width:40%;margin-bottom:18px;width:90%}
/* .footer ul{flex-direction:column} */
.footer ul a{align-self: center;}