{% extends 'base.html' %}
{% block title%}
Welcome To blogHome
{% endblock %}

{% block blog %}
active
{% endblock %}

{% block body %}
<div class="container">
<h2 class="my-3">Coding Articles By iCoder</h2>
{% for post in posts %}
<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm    h-md-250 my-4 position-relative">

        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Article By <a href="/about">{{post.author}}</a> ({{post.views}} views)</strong>
          <h3 class="mb-0"><a class="text-dark" href="/blog/{{post.sno}}">{{post.title}}</a></h3>
          <div class="mb-1 text-muted">{{post.timestamp}}</div>
          <p class="card-text mb-auto"><div class="preview">{{post.content|safe|truncatechars:200}}</div></p>
          <div>
                <a href="/blog/{{post.sno}}" target="_blank" role="button" class="btn btn-primary">Continue reading</a>
          </div>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="400" height="250" src="/media/{{post.thumbnail}}" aria-label="Placeholder: Thumbnail"></img>
        </div>     
</div>
{% endfor %}


</div>
{% endblock body %}